<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <a href="http://localhost:8000/"class="btn waves-effect waves-green green btn-medium" style="width: 100px;"><i class="material-icons">home</i></a>

    <video loop autoplay muted playsinline frameborder="0" height="100%" width="100%" 
        src="{% static 'ConfluenceAPP\videos\batman.mp4'%}">
    </video> 

    
</body>
</html>